<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.security.door.dao.baseUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.security.door.entity.baseUserRole">
        <id column="guid" jdbcType="VARCHAR" property="guid"/>
        <result column="userid" jdbcType="VARCHAR" property="userid"/>
        <result column="roleid" jdbcType="VARCHAR" property="roleid"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creatdate" jdbcType="TIMESTAMP" property="creatdate"/>
    </resultMap>
    <sql id="Base_Column_List">
    guid, userid, roleid, creator, creatdate
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_userrole
        where guid = #{guid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from base_userrole
    where guid = #{guid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.security.door.entity.baseUserRole">
    insert into base_userrole (guid, userid, roleid, 
      creator, creatdate)
    values (#{guid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{creatdate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.security.door.entity.baseUserRole">
        insert into base_userrole
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                guid,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="roleid != null">
                roleid,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="creatdate != null">
                creatdate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                #{guid,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=VARCHAR},
            </if>
            <if test="roleid != null">
                #{roleid,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creatdate != null">
                #{creatdate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.security.door.entity.baseUserRole">
        update base_userrole
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=VARCHAR},
            </if>
            <if test="roleid != null">
                roleid = #{roleid,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="creatdate != null">
                creatdate = #{creatdate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where guid = #{guid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.security.door.entity.baseUserRole">
    update base_userrole
    set userid = #{userid,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creatdate = #{creatdate,jdbcType=TIMESTAMP}
    where guid = #{guid,jdbcType=VARCHAR}
  </update>

    <select id="hasRegister" parameterType="com.security.door.entity.baseUserRole"
            resultType="java.lang.Integer">
        SELECT count(*)
        FROM base_userrole
        WHERE userid = #{userid,jdbcType=VARCHAR}
        AND  roleid = #{roleid,jdbcType=VARCHAR}
    </select>

    <select id="selectList" parameterType="com.security.door.pager.DatatablesView"
            resultType="com.security.door.entity.dto.dtoBaseUserRole">
        SELECT
        a.roleid,a.userid,b.username,b.realname,b.usercode
        FROM
        base_userrole a
        LEFT JOIN base_users b ON a.userid = b.guid
        where 1=1
        <if test="entity.roleId != null">
            AND roleid = #{entity.roleid}
        </if>
        limit #{start},#{length}
    </select>

    <delete id="deleteRoleUsers" parameterType="com.security.door.entity.baseUserRole">
    delete from base_userrole
    where roleid = #{roleid,jdbcType=VARCHAR}
    AND userid = #{userid,jdbcType=VARCHAR}
  </delete>

</mapper>