<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.security.door.dao.crAccessGroupMapper">
    <resultMap id="BaseResultMap" type="com.security.door.entity.crAccessgroup">
        <id column="guid" jdbcType="VARCHAR" property="guid"/>
        <result column="orggroupname" jdbcType="VARCHAR" property="orggroupname"/>
        <result column="orggroupcode" jdbcType="VARCHAR" property="orggroupcode"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="clientcode" jdbcType="VARCHAR" property="clientcode"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <sql id="Base_Column_List">
    guid, orggroupname, orggroupcode, clientcode,remark, creator, createtime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cr_accessgroup
        where guid = #{guid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cr_accessgroup
        where guid in ( ${value} )
  </delete>
    <insert id="insert" parameterType="com.security.door.entity.crAccessgroup">
    insert into cr_accessgroup (guid, orggroupname, orggroupcode,
      clientcode, remark,creator, createtime
      )
    values (#{guid,jdbcType=VARCHAR}, #{orggroupname,jdbcType=VARCHAR}, #{orggroupcode,jdbcType=VARCHAR},
      #{clientcode,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.security.door.entity.crAccessgroup">
        insert into cr_accessgroup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                guid,
            </if>
            <if test="orggroupname != null">
                orggroupname,
            </if>
            <if test="orggroupcode != null">
                orggroupcode,
            </if>
            <if test="clientcode != null">
                clientcode,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                #{guid,jdbcType=VARCHAR},
            </if>
            <if test="orggroupname != null">
                #{orggroupname,jdbcType=VARCHAR},
            </if>
            <if test="orggroupcode != null">
                #{orggroupcode,jdbcType=VARCHAR},
            </if>
            <if test="clientcode != null">
                #{clientcode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.security.door.entity.crAccessgroup">
        update cr_accessgroup
        <set>
            <if test="orggroupname != null">
                orggroupname = #{orggroupname,jdbcType=VARCHAR},
            </if>
            <if test="orggroupcode != null">
                orggroupcode = #{orggroupcode,jdbcType=VARCHAR},
            </if>
            <if test="clientcode != null">
                clientcode = #{clientcode,jdbcType=BIT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where guid = #{guid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.security.door.entity.crAccessgroup">
    update cr_accessgroup
    set orggroupname = #{orggroupname,jdbcType=VARCHAR},
      orggroupcode = #{orggroupcode,jdbcType=VARCHAR},
      clientcode = #{clientcode,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where guid = #{guid,jdbcType=VARCHAR}
  </update>


    <select id="selectList" parameterType="com.security.door.pager.DatatablesView" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cr_accessgroup
        where 1=1
        <if test="entity.clientcode != null">
            and clientcode = #{entity.clientcode}
        </if>
        <if test="entity.orggroupname != null">
            and orggroupname like CONCAT('%',#{entity.orggroupname},'%')
        </if>
        limit #{start},#{length}
    </select>
    <select id="getCount" resultType="java.lang.Integer">
    select count(0) from cr_accessgroup
  </select>
    <select id="getMaxID" resultType="java.lang.Integer">
        SELECT MAX(orggroupcode) + 1
        FROM cr_accessgroup
    </select>
    <select id="checkcode" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from cr_accessgroup where orggroupcode = #{orggroupcode,jdbcType=VARCHAR}
  </select>
</mapper>