<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.security.door.dao.crClientgroupMapper">
    <resultMap id="BaseResultMap" type="com.security.door.entity.crClientgroup">
        <id column="guid" jdbcType="VARCHAR" property="guid"/>
        <result column="clientcode" jdbcType="VARCHAR" property="clientcode"/>
        <result column="groupcode" jdbcType="VARCHAR" property="groupcode"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <sql id="Base_Column_List">
    guid, clientcode, groupcode, creator, createtime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cr_clientgroup
        where guid = #{guid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cr_clientgroup
    where guid = #{guid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.security.door.entity.crClientgroup">
    insert into cr_clientgroup (guid, clientcode, groupcode, 
      creator, createtime)
    values (#{guid,jdbcType=VARCHAR}, #{clientcode,jdbcType=VARCHAR}, #{groupcode,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.security.door.entity.crClientgroup">
        insert into cr_clientgroup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                guid,
            </if>
            <if test="clientcode != null">
                clientcode,
            </if>
            <if test="groupcode != null">
                groupcode,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                #{guid,jdbcType=VARCHAR},
            </if>
            <if test="clientcode != null">
                #{clientcode,jdbcType=VARCHAR},
            </if>
            <if test="groupcode != null">
                #{groupcode,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.security.door.entity.crClientgroup">
        update cr_clientgroup
        <set>
            <if test="clientcode != null">
                clientcode = #{clientcode,jdbcType=VARCHAR},
            </if>
            <if test="groupcode != null">
                groupcode = #{groupcode,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where guid = #{guid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.security.door.entity.crClientgroup">
    update cr_clientgroup
    set clientcode = #{clientcode,jdbcType=VARCHAR},
      groupcode = #{groupcode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where guid = #{guid,jdbcType=VARCHAR}
  </update>
    <select id="selectByGroupCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cr_clientgroup
        where groupcode = #{groupcode,jdbcType=VARCHAR}
    </select>

    <insert id="insertBatch" parameterType="com.security.door.entity.crClientgroup">
        insert into cr_clientgroup (guid, clientcode, groupcode,
        creator, createtime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.guid,jdbcType=VARCHAR},
            #{item.clientcode,jdbcType=VARCHAR},
            #{item.groupcode,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR},
            #{item.createtime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <delete id="deleteByGroupCode" parameterType="java.lang.String">
        delete from cr_clientgroup
        where groupcode = #{groupcode,jdbcType=VARCHAR}
    </delete>
</mapper>