<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.security.door.dao.devDeviceaccessMapper">
    <resultMap id="BaseResultMap" type="com.security.door.entity.devDeviceaccess">
        <id column="guid" jdbcType="VARCHAR" property="guid"/>
        <result column="clientcode" jdbcType="VARCHAR" property="clientcode"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <sql id="Base_Column_List">
    guid, clientcode, sn, creator, createtime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dev_deviceaccess
        where guid = #{guid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dev_deviceaccess
    where guid = #{guid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.security.door.entity.devDeviceaccess">
    insert into dev_deviceaccess (guid, clientcode,
      sn, creator, createtime
      )
    values (#{guid,jdbcType=VARCHAR}, #{clientcode,jdbcType=VARCHAR},
      #{sn,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.security.door.entity.devDeviceaccess">
        insert into dev_deviceaccess
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                guid,
            </if>
            <if test="clientcode != null">
                clientcode,
            </if>
            <if test="sn != null">
                sn,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                #{guid,jdbcType=VARCHAR},
            </if>
            <if test="clientcode != null">
                #{clientcode,jdbcType=VARCHAR},
            </if>
            <if test="sn != null">
                #{sn,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.security.door.entity.devDeviceaccess">
        update dev_deviceaccess
        <set>
            <if test="clientcode != null">
                clientcode = #{clientcode,jdbcType=VARCHAR},
            </if>
            <if test="sn != null">
                sn = #{sn,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where guid = #{guid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.security.door.entity.devDeviceaccess">
    update dev_deviceaccess
    set clientcode = #{clientcode,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where guid = #{guid,jdbcType=VARCHAR}
  </update>

    <insert id="batchInser" parameterType="java.util.List">
        insert into dev_deviceaccess (guid, clientcode,sn, creator,createtime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.guid,jdbcType=VARCHAR},
            #{item.clientcode,jdbcType=VARCHAR},
            #{item.sn,jdbcType=VARCHAR},
            #{item.creator,jdbcType=VARCHAR},
            #{item.createtime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <delete id="deleteByClientCode" parameterType="java.lang.String">
        DELETE  from dev_deviceaccess
        where clientcode = #{clientcode,jdbcType=VARCHAR}
    </delete>

    <select id="selectAccessByClientCode" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM dev_deviceaccess
        WHERE clientcode = #{clientcode,jdbcType=VARCHAR}
    </select>

    <select id="selectAllAccess" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM dev_deviceaccess
        WHERE clientcode = #{clientcode,jdbcType=VARCHAR}
        or clientcode in(
        SELECT groupcode FROM cr_clientgroup where clientcode = #{clientcode,jdbcType=VARCHAR}
        )
    </select>

    <select id="hasPermission" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(0)
        FROM
        dev_activeaccess
        WHERE
        sn = #{sn,jdbcType=VARCHAR}
        AND activecode = #{activecode,jdbcType=VARCHAR}
        AND clientcode = #{clientcode,jdbcType=VARCHAR}
        or clientcode in(
        SELECT groupcode FROM cr_clientgroup where clientcode = #{clientcode,jdbcType=VARCHAR}
        )
    </select>
    <delete id="deleteBySn" parameterType="java.lang.String">
        delete from dev_deviceaccess
        where sn = #{sn,jdbcType=VARCHAR}
    </delete>
</mapper>